* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: sans-serif;
    color: white;
  }
  body {
    background-color: black;
  }
  .redes-sociales {
    height: 45px;
    background-color: black;
  }
  .redes-sociales img {
    width: 30px;
    float: right;
    margin: 5px 7px 5px 7px;
  }
  .redes-sociales img {
    transition: 1s;
  }
  .redes-sociales img:hover {
    scale: 120%;
  }
  /* ----------------------------------------------------------------------- */
  .head-list ul {
    background-color: red;
    padding: 5px 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
  }
  .head-list ul li {
    float: left;
    margin: auto;
  }
  .head-list ul .imagen-hidden {
    display: none;
  }
  .head-list ul li a:hover {
    color: black;
    font-size: 102%;
  }
  .head-list ul li a {
    color: white;
    font-size: 1em;
    transition: 0.5s;
  }
  .head-list .active {
    color: black;
    font-size: 105%;
  }
  /* ----------------------------------------------------------------------------------------Seccion */
  .ingreso{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .ingreso form{
    width: 50%;
    padding: 40px;
    margin-top: 40px;
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
  }
  .ingreso form input{
    height: 40px;
    margin-bottom: 40px;
    color: black;
  }
  .ingreso form textarea{
    color: black;
    margin-bottom: 40px;
  }
  .ingreso form .btn-ingresar{
    background-color: black;
    color: white;
    transition: 1s;
  }
  .ingreso form .btn-ingresar:hover{
    scale: 105%;
    cursor: pointer;
  }
.tabla{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

table {
    table-layout: fixed;
    width: 90%;
    border-collapse: collapse;
    border: 3px solid grey;
  }
th {
  letter-spacing: 2px;
}

td {
  letter-spacing: 1px;
}

tbody td {
  text-align: center;
}
tbody td .modificar{
    color: white;
    background-color: blue;
    height: 30px;
    width: 100px;
    text-align: center;
}

tbody td .eliminar{
    color: white;
    background-color: red;
    height: 30px;
    width: 100px;
    text-align: center;
}

  /* ------------------------------------------------------------------------- */
  @media (max-width: 768px) {
    .head-list ul .imagen-hidden-uno {
      display: none;
    }
    .head-list ul .imagen-hidden {
      display: contents;
    }
    .head-list ul li img {
      width: 50px;
      margin-left: 10px;
    }
    .head-list ul li a {
      font-size: 0.5em;
    }
    .head-list ul li a:hover {
      font-size: 0.7em;
    }
    .head-list .active {
      color: black;
      font-size: 0.7em;
    }
    .ingreso{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .ingreso form{
      width: 80%;
    }
  .tabla{
      margin-top: 50px;
      display: flex;
      justify-content: center;
  }
  
  table {
    font-size: 0.5em;
    }
  tbody td .modificar{
    font-size: .9em;
      width: 50px;
  }
  
  tbody td .eliminar{
    font-size: .9em;
      width: 50px;
  }
  .logout a img{
    width: 25px;
    margin: 20px 40px 10px 0;
    transition: 1s;
  }
  .logout p{
    font-size: 0.6em;
    margin-right: 25px;
  }
  }