* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: sans-serif;
  font-style: italic;
}
body {
  background-color: black;
}
.redes-sociales {
    height: 45px;
    background-color: black;
}
.redes-sociales img {
  width: 30px;
  float: right;
  margin: 5px 7px 5px 7px;
}
.redes-sociales img{
    transition: 1s;
}
.redes-sociales img:hover{
    scale: 120%;
}


.head-list ul {
  background-color: red;
  padding: 5px 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
}
.head-list ul li {
  float: left;
  margin: auto;
}
.head-list ul .imagen-hidden{
    display: none;
}
.head-list ul li a:hover{
    color: black;
    font-size: 110%;
}
.head-list ul li a {
  color: white;
  font-size: 1em;
  transition: 0.5s;
}
.linea-separacion {
  height: 5px;
  background-color: white;
  width: 100%;
}
.vista-principal img{
    width: 100%;
}
.titulo-separador{
    margin-top: -5px;
    background-color: red;
    color: white;
}
.titulo-separador h2{
    font-size: 2em;
    text-align: center;
    padding: 10px;
}
#seccion-dos{
    background-color: white;
}
#seccion-dos .servicios{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
#seccion-dos .servicios img{
    margin-bottom: 20px;
    width: 49.2%;
}
#seccion-dos .marcas{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: space-evenly;
}
#seccion-dos .marcas img{
    width: 150px;
    padding: 80px 0;
    transition: 1s;
}
#seccion-dos .marcas img:hover{
    scale: 110%;
}

#seccion-tres{
    background-color: black;
}
#seccion-tres .banner img{
    width: 100%;
}
#seccion-tres .pagos{
    display: flex;
    justify-content: center;
}
#seccion-tres .pagos img{
    margin-top: 40px;
    width: 60%;
}
#seccion-tres .contacto{
    margin-top: 60px;
    display: flex;
}
#seccion-tres .contacto{
    display: flex;
    color: white;
    justify-content: center;
    margin-bottom: 50px;
}
#seccion-tres .contacto .contacto-descripcion{
    width: 45%;
    margin-left: 200px;
}
#seccion-tres .contacto .contacto-descripcion img{
    width: 80px;
    position: absolute;
    margin-left: 320px;
    margin-top: -65px;
}
#seccion-tres .contacto .formulario{
    width: 45%;
    margin-right: 200px;
}
#seccion-tres .contacto .formulario input{
    background-color: black;
    border: none;
    border-bottom: solid gray 0.5px;
    width: 400px;
    color: white;
}
#seccion-tres .linea-final{
    height: 30px;
    background-color: red;
}


@media (max-width: 768px){
    .head-list ul .imagen-hidden-uno{
        display: none;
    }
    .head-list ul .imagen-hidden{
        display:contents;
    }
    .head-list ul li img{
        width: 50px;
        margin-left: 10px;
    }
    .head-list ul li a{
        font-size: 0.5em;
    }
    .head-list ul li a:hover{
        font-size: 0.6em;
    }
    .titulo-separador h2{
        font-size: 1em;
    }
    #seccion-dos .servicios img{
        margin-bottom: 10px;
    }
    #seccion-dos .marcas img{
        width: 70px;
    }
    #seccion-tres .contacto{
        display: flex;
        flex-wrap: wrap;
        color: white;
        justify-content: space-evenly;
        margin-bottom: 50px;
    }
    #seccion-tres .contacto .contacto-descripcion{
        margin: auto;
        width: auto;
        margin-bottom: 50px;
        padding: 10px;
        font-size: 0.9em;
    }
    #seccion-tres .contacto .contacto-imagen{
        display: none;
    }
    #seccion-tres .contacto .formulario{
        margin: 0 20px 0 20px;
        width: 100%;
    }
    #seccion-tres .contacto .formulario input{
        width: 250px;
    }
}