* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: sans-serif;
  color: white;
}
body {
  background-color: black;
}
.redes-sociales {
  height: 45px;
  background-color: black;
}
.redes-sociales img {
  width: 30px;
  float: right;
  margin: 5px 7px 5px 7px;
}
.redes-sociales img {
  transition: 1s;
}
.redes-sociales img:hover {
  scale: 120%;
}
/* ----------------------------------------------------------------------- */
.head-list ul {
  background-color: red;
  padding: 5px 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
}
.head-list ul li {
  float: left;
  margin: auto;
}
.head-list ul .imagen-hidden {
  display: none;
}
.head-list ul li a:hover {
  color: black;
  font-size: 102%;
}
.head-list ul li a {
  color: white;
  font-size: 1em;
  transition: 0.5s;
}
.head-list .active {
  color: black;
  font-size: 105%;
}
/* ----------------------------------------------------------------------------------------Seccion */
.banner-sobre-nosotros {
  width: 100%;
  max-height: 70px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  background: url(/assets/img-sobre/1.png);
}
.banner-sobre-nosotros h2 {
  margin: 20px;
  font-size: 2em;
  text-align: center;
}

/* .caja-uno{
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
}
.caja-uno .left-side{
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.left-side img{
  width: 40%;
}
.caja-uno .right-side{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.right-side .titulo{
  background: url(/assets/img/img-catalogo/fondo-rojo.png)no-repeat;
  background-size: 100%;
  width: auto;
}
.right-side .titulo h2{
  font-size: auto;
  margin-left: 20px;
}
.right-side h3{
  font-size: 1.2em;
  margin: 20px;
}
.right-side p{
  margin-left: 20px;
}
.right-side .precio{
  font-size: 0.6em;
  display: flex ;
  margin-left: 15px;
  margin-top: 20px;
  background: url(/assets/img/img-catalogo/fondo-gris.png) no-repeat;
  background-size: 50%;
}
.right-side .precio p{
  font-size: 2em;
}
.separation{
  margin: 20px;
} */

/* ------------------------------------------------------------------------------------- seccion-pagos */
#seccion-tres {
  background: url(/assets/img-sobre/fondo.png) no-repeat;
  background-size: cover;
}
#seccion-tres .banner img {
  width: 100%;
}
#seccion-tres .pagos {
  display: flex;
  justify-content: center;
}
#seccion-tres .pagos img {
  margin-top: 40px;
  width: 60%;
}
#seccion-tres .contacto {
  margin-top: 60px;
  display: flex;
}
#seccion-tres .contacto {
  display: flex;
  color: white;
  justify-content: center;
  margin-bottom: 50px;
}
#seccion-tres .contacto .contacto-descripcion {
  width: 45%;
  margin-left: 200px;
}
#seccion-tres .contacto .contacto-descripcion img {
  width: 80px;
  position: absolute;
  margin-left: 320px;
  margin-top: -65px;
}
#seccion-tres .contacto .formulario {
  width: 45%;
  margin-right: 200px;
}
#seccion-tres .contacto .formulario input {
  background-color: black;
  border: none;
  border-bottom: solid gray 0.5px;
  width: 400px;
  color: white;
}
#seccion-tres .linea-final {
  height: 30px;
  background-color: red;
}
#seccion-tres .contacto .formulario .btn-envio input {
  background-color: red;
  height: 30px;
}
#seccion-tres .contacto .formulario .btn-envio input:hover {
  background-color: white;
  color: red;
  cursor: pointer;
}

@media (max-width: 768px) {
  .head-list ul .imagen-hidden-uno {
    display: none;
  }
  .head-list ul .imagen-hidden {
    display: contents;
  }
  .head-list ul li img {
    width: 50px;
    margin-left: 10px;
  }
  .head-list ul li a {
    font-size: 0.5em;
  }
  .head-list ul li a:hover {
    font-size: 0.7em;
  }
  .head-list .active {
    color: black;
    font-size: 0.7em;
  }
  #seccion-tres .contacto {
    display: flex;
    flex-wrap: wrap;
    color: white;
    justify-content: space-evenly;
    margin-bottom: 50px;
  }
  #seccion-tres .contacto .contacto-descripcion {
    margin: auto;
    width: auto;
    margin-bottom: 50px;
    padding: 10px;
    font-size: 0.9em;
  }
  #seccion-tres .contacto .contacto-imagen {
    display: none;
  }
  #seccion-tres .contacto .formulario {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin: 0 20px 0 20px;
    width: 100%;
  }
  #seccion-tres .contacto .formulario input {
    width: 250px;
  }
  /* ----------------------------------------------------------------------------------------Seccion */
.banner-sobre-nosotros h2 {
  margin: 20px;
  font-size: 1.5em;
  text-align: center;
}
#seccion-catalogo {
  padding: 20px;
}
.caja{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;

}

.left-side img{
  width: 60%;
}
.caja .right-side{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.right-side .titulo{
  background-color: red;
  background-size: 100%;
  display: flex;
  justify-content: center;
}
.right-side .titulo h2{
  text-align: center;
  font-size: 1em;
  margin: 0;
}
.right-side h3{
margin: 0;
margin-top: 20px;
}
.right-side p{
margin: 0;
}

.separation{
  display: none;
  width: 50%;
  margin: 20px;
}


/* ----------------------------------------------------------------------------- */

.caja-uno{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.caja-uno .left-side{
  justify-content: center;
  width: 100%;
  display: flex;
}
.caja-uno .right-side{
  justify-content: center;
  width: 100%;
  display: flex;
}
.right-side .precio{
  display: flex ;
  margin: 0;
  margin-top: 20px;
  background-size: 100%;
  justify-content: center;
}
.right-side .precio p{
  font-size: 2em;
  text-align: center;
}
}
